@model Portal.ViewModels.Admin.ForgotPasswordViewModel
<style>
    .forgot-password-card {
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif gölge */
        border-radius: 8px; /* Köşeleri yuvarlatır */
        background-color: #ffffff; /* Beyaz arka plan */
    }

    .card-title {
        font-size: 24px;
        margin-bottom: 20px;
    }
</style>

<!-- Modal Trigger Button -->
<a asp-controller="Account" asp-action="ForgotPassword" class="link-orange" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal">
   Şifrenizi Tc Kimlik numaranızı doğrulayarak buradan değiştirebilirsiniz...
</a>
<!-- Modal Structure -->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content forgot-password-card">
            <div class="modal-header">
                <h5 class="modal-title" id="forgotPasswordModalLabel">Şifre Güncelle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="ForgotPassword" method="post">
                    <div class="form-group">
                        <label asp-for="TcKimlik">Tc Kimlik Numaranız</label>
                        <input asp-for="TcKimlik" class="form-control" />
                        <span asp-validation-for="TcKimlik" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword">Yeni Şifreniz</label>
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword">Şifre Tekrar</label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-success btn-block mt-3">Şifreyi Güncelle</button>
                </form>

                @if (ViewBag.Message != null)
                {
                    <div class="alert alert-success mt-3">@ViewBag.Message</div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
